/env
/Direct2D/Debug/Direct2D.tlog
/Direct2D/.vs/Direct2D/v16/ipch/AutoPCH/3c46ce501b209c46
/Direct2D/.vs/Direct2D/v16
/Direct2D/Debug
/.vs/game-of-life/v16
/Direct3D/gameoflife/.vs/gameoflife/v16/ipch/a091c10e4fedc3a4.ipch
/Direct3D/gameoflife/.vs/gameoflife/v16/.suo
/Direct3D/gameoflife/.vs/gameoflife/v16/Browse.VC.opendb
/Direct3D/gameoflife/.vs/gameoflife/v16/Browse.VC.db-wal
/Direct3D/gameoflife/.vs/gameoflife/v16/Browse.VC.db-shm
/Direct3D/gameoflife/.vs/gameoflife/v16/Browse.VC.db
/Direct2D/Release/Direct2D.tlog
/Direct2D/Release
/Direct3D/gameoflife/.vs/gameoflife/v16/ipch/AutoPCH/a22c7c2d00ec0f95/DIRECT2D.ipch
/Direct3D/gameoflife/Debug
/Direct3D/gameoflife/.vs/gameoflife/v16/ipch/AutoPCH
